		{% comment %} <div class="row properties_row">
				
				<!-- Property -->
      {% if posts %}
      {% for post in posts %}
			<div class="col-xl-4 col-lg-6 property_col">
				<div class="property">
						<div class="property_image">
							<img src="{{ post.main_photo.url }}" alt="">

						</div>
						<div class="property_body text-center">
							<div class="property_location">{{post.title}}</div>
							<div class="property_title"><a href="">{{post.text}}</a></div>
							<div class="property_price">$ {{ post.created_date }}</div>
						</div>
						
					</div>
				</div>
      {% endfor %}
      {% else %}
      <h2>No Blogss</h2>
      {% endif %} {% endcomment %}