<div class="sidebar-box subs-wrap img py-4" style="background-image: url(images/bg_1.jpg);">
<div class="overlay"></div>
	<h3 class="mb-4 sidebar-heading">CoopNews</h3>
	<p class="mb-4">Don't miss a single entry or surprise, Subscribe today!</p>
	<form action="{% url 'newsletter' %}" method="POST" class="subscribe-form">
	 {% csrf_token %}
	    <div class="form-group">
	        <input type="email"  value="{{ newsletter.email }}" class="form-control" name="email" placeholder="Email Address">
	        <input type="submit" value="Subscribe" class="mt-2 btn btn-white submit">
	    </div>
	</form>
</div>